/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body,
a {
  color: rgba(45, 45, 45, 1);
}
ul {
  list-style: none;
}
a,
ul,
button,
li,
p {
  font-size: 14px;
  text-decoration: none;
}
header {
  position: sticky;
  z-index: 10000;
  top: 0;
  left: 0;
}
a,
ul,
button,
li,
p {
  font-size: 14px;
  text-decoration: none;
} */

.ero {
  text-align: center;
  padding: 30px;
  justify-content: left;
  justify-items: left;
}
.terms {
  font-weight: 600;
  font-size: 32px;
  border-bottom: 1px solid rgba(45, 45, 45, 0.3);
  padding: 20px;
}
.body {
  text-align: left;
  font-weight: 400;
  font-size: 15px;
  width: 80%;
  padding: 40px;
  margin-left: 100px;
  color: rgba(45, 45, 45, 1);
  /* border-bottom: 1px solid rgba(45, 45, 45, 1); */
}
.body .terms {
  font-size: 32px;
  font-weight: 600;
}
.body span {
  color: rgba(34, 68, 62, 1);
}
.bold {
  font-weight: 500;
  font-size: 25px;
}
.testing {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.fake {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: space-between;
  align-content: space-evenly;
}

/* .team{
    display: grid;
    grid-template-columns:repeat(8, 1fr) ;
    grid-gap:5;
  }
  .team .img{
    grid-column: span 4;

  }z
  .team .img:nth-child(n+2){
grid-column: span 3;
  } */
