{% load static %} {% block stylesheet %} {% endblock stylesheet %}

<!-- LOGIN MODAL START-->
<!--  -->
<!-- <div class="login-modal">
      <section class="login-body">
        <img
          src="{% static './img/Login/mobile_blob1.png'%}"
          alt="mobile blob design"
          class="mobile_blob1"
        />
        <img
          src="{% static './img/Login/mobile_blob2.png'%}"
          alt="mobile blob design"
          class="mobile_blob2"
        />
        <img
          src="{% static './img/Login/mobile_blob3.png'%}"
          alt="mobile blob design"
          class="mobile_blob3"
        />

        <main class="login-main">
          <div class="left-div">
            <img
              src="{% static './img/Login/login_top_blob.png'%}"
              alt="blob design "
              class="top_blob"
            />
            <img
              src="{% static './img/Login/login_main_image.png'%}"
              alt="welcome image"
            />
            <img
              src="{% static './img/Login/login_bottom_blob.png'%}"
              alt="blob design "
              class="btm_blob"
            />
          </div>

          <div class="right-div">
            <i
              class="fa-solid fa-xmark login-modal-close"
              onclick="hideLoginModal()"
            ></i>
            <div class="right-div-container">
              <h3 class="head-txt">Welcome Back : )</h3>

              <input
                type="text"
                placeholder="Username"
                id="login-username"
                required
              />

              <br />

              <div class="password-eye">
                <input
                  type="password"
                  placeholder="Password"
                  id="login-password"
                  required
                />
                <i class="bi bi-eye" onclick="passwordToggle()"></i>
                <i class="bi bi-eye-slash" onclick="passwordToggle()"></i>
              </div>

              <a href="./forgotpassword.html" class="forgot-password"
                >Forgot Password?</a
              >
              <!-- <br /> 
              <label for="remember-me" class="remem-label">
                <input
                  type="checkbox"
                  name="remember-me"
                  id="remember-me"
                />&nbsp; <small>Remember Me</small></label
              >
              <br />

              <button type="button" class="login-button">Log In</button>

              <div class="or-separator">
                <hr />
                <p>OR</p>
                <hr />
              </div>

              <button type="button" class="continue-button">
                <img
                  src="{% static './img/google.png'%}"
                  alt=""
                  class="google"
                />
                &nbsp; Continue With Google
              </button>

              <p class="base-txt">
                Become a Blogga?
                <a href="./write-for-us.html" class="signup-link">
                  Write For Us</a
                >
              </p>
            </div>
          </div>
        </main>
      </section>
    </div> -->
<!--  -->
<!-- LOGIN MODAL END-->
{% include "post/login_modal.html" %}
<!-- HEADER & MOBILE MENU  START-->
<!--  -->
<header>
  <!-- top green banner -->
  <div class="banner">
    <div class="banner_wrapper">
      <div class="banner_left">
        <p>Have a story to share?</p>

        <button>
          <a href="{% url 'contact' %}">Contact Us</a>
        </button>
      </div>

      <div class="banner_search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="search" name="" id="" placeholder="Search" />
      </div>
    </div>

    <div class="banner_socials">
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </div>
  </div>
  <!-- top green banner -->

  <div class="nav_outer">
    <!-- <a href="./index.html"
          ><img src="{% static './img/logo_resources/Favicon.png'%}" alt="Blogga Logo Icon"
        /></a> -->

    <div class="nav_inner">
      <div class="hamburger">
        <span class="span1"></span><span class="span2"></span
        ><span class="span3"></span>
      </div>

      <div class="hamburger_close">
        <!-- <span class="span1"></span><span class="span2"></span> -->
        <i class="fa-solid fa-xmark login-modal-close"></i>
      </div>

      <div class="mobile_menu">
        <div class="mobile_menu_search">
          <input type="search" name="" id="" placeholder="Search anything..." />
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>

        <div class="mobile_menu_categories">
          <p>CATEGORIES</p>
          <ul>
            <a href="./fashion.html"><li class="mob_fashion">FASHION</li></a>
            <a href="./category-page.html"
              ><li class="mob_entertaiment">ENTERTAINMENT</li></a
            >
            <a href="./technology.html"><li class="mob_tech">TECHNOLOGY</li></a>
            <a href="#"><li class="mob_health">HEALTH</li></a>
            <a href="#"><li class="mob_politics">POLITICS</li></a>
            <a href="#"><li class="mob_edu">EDUCATION</li></a>
            <a href="#"><li class="mob_food">FOOD</li></a>
            <a href="#"><li class="mob_art">ART</li></a>
          </ul>
          <hr />
        </div>

        <div class="mobile_menu_links">
          <p>MORE</p>
          <div class="mobile_menu_links_top">
            <a href="./ourteam.html">TEAM</a>
            <a href="{% url 'post:archive' %}">ARCHIVE</a>
          </div>
          <div class="mobile_menu_links_bottom">
            <a href="./write-for-us.html">WRITE FOR US</a>
            <a href="{% url 'contact' %}">CONTACT</a>
          </div>
        </div>

        <div class="mobile_menu_btns_wrap">
          <div class="mobile_menu_btns">
            {% if user.is_authenticated %}
            <button class="button">Log Out</button>
            {% else %}

            <button class="button">
              <a href="{% url 'login' %}"> Sign In</a>
            </button>
            {% endif %}
            <button
              class="subscribe button"
              onclick="window.location.href='#subscribe';"
            >
              Subscribe
            </button>
          </div>

          <img
            src="{% static './img/home_page/author_hamzy.png'%}"
            alt="profile picture"
          />
        </div>
      </div>

      <a href="{% url 'post:index' %}"
        ><img
          src="{% static './img/logo_resources/Favicon.png'%}"
          alt="Blogga Logo Icon"
      /></a>

      <nav>
        <a href="{% url 'post:index' %}"
          ><img
            src="{% static './img/logo_resources/Favicon_White.png'%}"
            alt="Blogga Logo"
        /></a>
        <ul>
          <li><a href="./fashion.html" class="nav_fashion">FASHION</a></li>
          <li>
            <a href="./category-page.html" class="nav_entertainment"
              >ENTERTAINMENT</a
            >
          </li>
          <li>
            <a href="./technology.html" class="nav_tech">TECHNOLOGY</a>
          </li>
          <li><a href="#" class="nav_health">HEALTH</a></li>
          <li><a href="#" class="nav_politics">POLITICS</a></li>
          <li><a href="#" class="nav_edu">EDUCATION</a></li>
          <li><a href="#" class="nav_food">FOOD</a></li>
          <li><a href="#" class="nav_art">ART</a></li>
          <li>
            <input type="checkbox" name="more_check" id="more_check" />

            <label for="more_check" class="more">
              MORE
              <span class="dropdown_arrow"
                ><img
                  src="{% static './img/home_page/dropdown_arrow.png'%}"
                  alt="dropdown"
              /></span>
            </label>

            <div class="more_dropdown">
              <ul>
                <li><a href="./ourteam.html">TEAM</a></li>
                <li><a href="./write-for-us.html">WRITE FOR US</a></li>
                <li><a href="{% url 'post:archive' %}">ARCHIVE</a></li>
                <li><a href="{% url 'contact' %}">CONTACT</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>

      <i class="fa-solid fa-magnifying-glass mobile_search"></i>

      <div class="nav_btns">
        {% if user.is_authenticated %}
        <!-- <button class="button" onclick="showLoginModal()">Sign In</button> -->
        <button class="button"><a href="{% url 'logout' %}">Log Out</a></button>
        {% else %}
        <button class="button"><a href="{% url 'login' %}">Sign In</a></button>
        {% endif %}
        <button
          class="subscribe button"
          onclick="window.location.href='#subscribe';"
        >
          Subscribe
        </button>

        <img
          src="{% static './img/home_page/author_hamzy.png'%}"
          alt="profile picture"
        />
      </div>
    </div>
  </div>
</header>
<!--  -->
<!-- HEADER & MOBILE MENU END-->
